.checkoutProduct {
  display: flex;
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}
.checkoutProduct__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;

}
.checkoutProduct__rating {
  display: flex;
}
